<%- include("../includes/head.ejs") %>
        <link rel="stylesheet" href="/styles/config.css">
        <script>
            function sendConfig() {
                var _urlParams = new URLSearchParams(window.location.search);
                _filename = document.getElementById("filename");
                _selectedWebsiteId = document.getElementById("selectedWebsiteId");
                _selectedSessionId = document.getElementById("selectedSessionId");
                _selectedNickname  = document.getElementById("selectedNickname");

                console.log(window.location.search);
                fetch(window.location.origin + "/config/update", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        "origin"     : {
                            "website_id": _urlParams.get("website_id"),
                            "token"     : _urlParams.get("token"),
                        },
                        "fileName"   : _filename.value,
                        "selectedWebsiteId": _selectedWebsiteId.checked,
                        "selectedSessionId": _selectedSessionId.checked,
                        "selectedNickname" : _selectedNickname.checked
                    })
                }).then(() => {
                    console.log("worked");
                    let success = document.querySelector("#success")
                    success.hidden = false
                    setTimeout(() => {
                        success.hidden = true
                    }, 2000);
                }).catch(error => {
                    console.error(error);
                });
            }
            document.addEventListener("DOMContentLoaded", function () {
                var _urlParams = new URLSearchParams(window.location.search);
                _filename = document.getElementById("filename");
                _selectedWebsiteId = document.getElementById("selectedWebsiteId");
                _selectedSessionId = document.getElementById("selectedSessionId");
                _selectedNickname  = document.getElementById("selectedNickname");
                _websiteId = _urlParams.get("website_id");
                let example = document.querySelector(".filename-example")

                function handleFilename() {
                    let updatedFilename = _filename.value;

                    if (_selectedWebsiteId.checked) {
                        updatedFilename = `${updatedFilename}_${_websiteId}`;
                    }
                    if (_selectedSessionId.checked) {
                        updatedFilename = `${updatedFilename}_session_bbf82712-2602-468e-9c51-af054aaee873`;
                    }
                    if (_selectedNickname.checked) {
                        updatedFilename = `${updatedFilename}_John Doe`;
                    }
                    example.innerHTML = `${updatedFilename}.txt`;
                }
                _filename.addEventListener("keyup", handleFilename);
                _selectedWebsiteId.addEventListener("click", handleFilename);
                _selectedSessionId.addEventListener("click", handleFilename);
                _selectedNickname.addEventListener("click", handleFilename);

            });
        </script>
    </head>

    <body>

        <div class="cap-plugin-content-box">
            <div class="cap-plugin-content-box-head">
              <h4 class="cap-font-sans-bold">The Export Thread plugin is installed on your website.</h4>
            </div>

            <div class="cap-plugin-content-box-inner">
              <h2 class="cap-font-sans-semibold">Click on the button below to reconfigure the file names.</h2>

              <div class="config-wrapper">
                <label class="cap-font-sans-semibold">Filename:</label>
                <input class="cap-font-sans-regular" type="text" name="filename" id="filename" value="<%= filename %>" max="30">

                <label class="cap-font-sans-semibold">Include Website Id: 
                <input type="checkbox" name="websiteId" id="selectedWebsiteId" <%=selectedWebsiteId %>></label>


                <label class="cap-font-sans-semibold">Incude Session Id : 
                <input type="checkbox" name="sessionId" id="selectedSessionId" <%=selectedSessionId %>> </label>


                <label class="cap-font-sans-semibold">Incude Nickname :  
                <input type="checkbox" name="nickname" id="selectedNickname" <%=selectedNickname %>></label>
                
                <label class="cap-font-sans-semibold">Example: </label>
                <label class="filename-example" ><%= selectedExample %>.txt</label>


                <button class="cap-btn-primary cap-btn-primary-blue-dark cap-btn-small cap-font-sans-semibold" type="submit"onclick="sendConfig()">Save Configuration</button>
              </div>
            </div>
          </div>

        
        <p id="success" hidden=""> Settings Saved! </p>

        <div class="cap-plugin-content-box cap-plugin-content-box-yellow">
            <div class="cap-plugin-content-box-head">
              <h4 class="cap-font-sans-bold">How does the Export Thread plugin?</h4>
            </div>

            <div class="cap-plugin-content-box-inner">
              <p class="cap-font-sans-regular"><strong class="cap-font-sans-semibold">The Export Thread plugin enables the ability to send a conversation thread to your visitor as a text file</strong>. It is possible for your operators to select a date and time to specify a range of conversation messages which should be included in the transcript. </p>

              <p class="cap-font-sans-regular">In this configuration page, you can set what the file name of thread will be. Please enter a prefix name such as "transcript" or your company name, then select the website_id, session_id or visitors name. You can see the example above of what the file will be named! </a></p>
            </div>
          </div>
    </body>

    <%- include("../includes/footer.ejs") %>